edom-retailer-core/srv/api/lib/BitsCreateConfirmation.wsdl

<definitions name = "BitsCreateConfService"
   targetNamespace = "http://www.examples.com/wsdl/BitsCreateConfService.wsdl"
   xmlns = "http://schemas.xmlsoap.org/wsdl/"
   xmlns:soap = "http://schemas.xmlsoap.org/wsdl/soap/"
   xmlns:xsd = "http://www.w3.org/2001/XMLSchema"
   xmlns:tns="http://sap.com/xi/FI-CA-INV"
   xmlns:n1="http://sap.com/xi/SAPGlobal20/Global"
   xmlns:n2="http://sap.com/xi/FI-CAC/Global2">

   <message name = "BitsCreateConfirmRequest">
      <!-- <part name = "value" type = "xsd:string"/> -->
      <part name="BillableItemsCreateConfirmation" element="n1:BillableItemsCreateConfirmation"/>
   </message>
   <message name = "BitsCreateConfirmResponse">
      <part name = "status" type = "xsd:string"/>
   </message>
   <portType name = "BillableItemsCreateConfirmation_OutPort">
      <operation name = "BillableItemsCreateConfirmation_Out">
         <input message = "tns:BitsCreateConfirmRequest"/>
         <output message = "tns:BitsCreateConfirmResponse"/>
      </operation>
   </portType>
   <types>
      <xsd:schema targetNamespace="http://sap.com/xi/FI-CA-INV"
         xmlns="http://sap.com/xi/FI-CA-INV"
         xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
         xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global"
         xmlns:xi1="http://sap.com/xi/FI-CAC/Global2">
         <xsd:import namespace="http://sap.com/xi/FI-CAC/Global2"/>
         <xsd:simpleType name="AgencyIdentificationCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="3"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="BillableItemsCreateConfirmationMessage">
            <xsd:sequence>
               <xsd:element name="MessageHeader" type="BusinessDocumentMessageHeader"/>
               <xsd:element name="BillableItemsCreateResult" minOccurs="0" maxOccurs="unbounded" type="BillableItemsCreateResult"/>
               <xsd:element name="Log" type="Log"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="BillableItemsCreateResult">
            <xsd:sequence>
               <xsd:element name="CABllbleItmSourceTransType" minOccurs="0" type="CABllbleItmSourceTransType_GFN"/>
               <xsd:element name="CABllbleItmSourceTransId" minOccurs="0" type="CABllbleItmSourceTransId_GFN"/>
               <xsd:element name="CABllbleItmStatus" minOccurs="0" type="CABllbleItmStatus_GFN"/>
               <xsd:element name="CABllbleItmPackageUUID" minOccurs="0" type="CABllbleItmPackageUUID_GFN"/>
               <xsd:element name="CABllbleItmDataPackageID" minOccurs="0" type="CABllbleItmDataPackageID_GFN"/>
               <xsd:element name="ContractAccount" minOccurs="0" type="xi1:ContractAccountIdentification"/>
               <xsd:element name="CABillgDocument" minOccurs="0" type="CABillgDocument_GFN"/>
               <xsd:element name="CAInvcgDocument" minOccurs="0" type="CAInvcgDocument_GFN"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="BusinessDocumentMessageHeader">
            <xsd:sequence>
               <xsd:element name="ID" minOccurs="0" type="BusinessDocumentMessageID"/>
               <xsd:element name="UUID" minOccurs="0" type="UUID"/>
               <xsd:element name="ReferenceID" minOccurs="0" type="BusinessDocumentMessageID"/>
               <xsd:element name="ReferenceUUID" minOccurs="0" type="UUID"/>
               <xsd:element name="CreationDateTime" type="GLOBAL_DateTime"/>
               <xsd:element name="TestDataIndicator" minOccurs="0" type="Indicator"/>
               <xsd:element name="ReconciliationIndicator" minOccurs="0" type="Indicator"/>
               <xsd:element name="SenderBusinessSystemID" minOccurs="0" type="BusinessSystemID"/>
               <xsd:element name="RecipientBusinessSystemID" minOccurs="0" type="BusinessSystemID"/>
               <xsd:element name="SenderParty" minOccurs="0" type="BusinessDocumentMessageHeaderParty"/>
               <xsd:element name="RecipientParty" minOccurs="0" maxOccurs="unbounded" type="BusinessDocumentMessageHeaderParty"/>
               <xsd:element name="BusinessScope" minOccurs="0" maxOccurs="unbounded" type="BusinessScope"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="BusinessDocumentMessageHeaderParty">
            <xsd:sequence>
               <xsd:element name="InternalID" minOccurs="0" type="PartyInternalID"/>
               <xsd:element name="StandardID" minOccurs="0" maxOccurs="unbounded" type="PartyStandardID"/>
               <xsd:element name="ContactPerson" minOccurs="0" type="BusinessDocumentMessageHeaderPartyContactPerson"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="BusinessDocumentMessageHeaderPartyContactPerson">
            <xsd:sequence>
               <xsd:element name="InternalID" minOccurs="0" type="ContactPersonInternalID"/>
               <xsd:element name="OrganisationFormattedName" minOccurs="0" maxOccurs="4" type="LANGUAGEINDEPENDENT_MEDIUM_Name"/>
               <xsd:element name="PersonFormattedName" minOccurs="0" maxOccurs="4" type="LANGUAGEINDEPENDENT_LONG_Name"/>
               <xsd:element name="PhoneNumber" minOccurs="0" maxOccurs="unbounded" type="PhoneNumber"/>
               <xsd:element name="FaxNumber" minOccurs="0" maxOccurs="unbounded" type="PhoneNumber"/>
               <xsd:element name="EmailURI" minOccurs="0" maxOccurs="unbounded" type="EmailURI"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="BusinessDocumentMessageID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="BusinessDocumentMessageID.Content">
                  <xsd:attribute name="schemeID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="schemeAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="schemeAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="BusinessDocumentMessageID.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="35"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="BusinessScope">
            <xsd:sequence>
               <xsd:element name="TypeCode" type="BusinessScopeTypeCode"/>
               <xsd:element name="InstanceID" minOccurs="0" type="BusinessScopeInstanceID"/>
               <xsd:element name="ID" minOccurs="0" type="BusinessScopeID"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="BusinessScopeID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="BusinessScopeID.Content">
                  <xsd:attribute name="schemeID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="schemeAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="BusinessScopeID.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="36"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="BusinessScopeInstanceID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="BusinessScopeInstanceID.Content">
                  <xsd:attribute name="schemeID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="schemeAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="BusinessScopeInstanceID.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="36"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="BusinessScopeTypeCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="BusinessScopeTypeCode.Content">
                  <xsd:attribute name="listID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listVersionID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="15"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listAgencySchemeID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="BusinessScopeTypeCode.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="4"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="BusinessSystemID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="60"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="CABillgDocument_GFN">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="12"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="CABllbleItmDataPackageID_GFN">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="32"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="CABllbleItmPackageUUID_GFN">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="32"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="CABllbleItmSourceTransId_GFN">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="22"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="CABllbleItmSourceTransType_GFN">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="5"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="CABllbleItmStatus_GFN">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:length value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="CAInvcgDocument_GFN">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="12"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="ContactPersonInternalID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="ContactPersonInternalID.Content">
                  <xsd:attribute name="schemeID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="schemeAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="ContactPersonInternalID.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="32"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="CountryCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="3"/>
               <xsd:minLength value="2"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="CountryDiallingCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="10"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="EmailURI">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="xsd:anyURI">
                  <xsd:attribute name="schemeID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="GLOBAL_DateTime">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>DateTime</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:dateTime">
               <xsd:pattern value="[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}:[0-9]{2}(.[0-9]{1,7})?Z"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="Indicator">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:boolean"/>
         </xsd:simpleType>
         <xsd:simpleType name="LANGUAGEINDEPENDENT_LONG_Name">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="80"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="LANGUAGEINDEPENDENT_MEDIUM_Name">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="40"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="LANGUAGEINDEPENDENT_Name">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string"/>
         </xsd:simpleType>
         <xsd:simpleType name="LanguageCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:language">
               <xsd:maxLength value="9"/>
               <xsd:minLength value="2"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="Log">
            <xsd:sequence>
               <xsd:element name="BusinessDocumentProcessingResultCode" minOccurs="0" type="ProcessingResultCode"/>
               <xsd:element name="MaximumLogItemSeverityCode" minOccurs="0" type="LogItemSeverityCode"/>
               <xsd:element name="Item" minOccurs="0" maxOccurs="unbounded" type="LogItem"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="LogItem">
            <xsd:sequence>
               <xsd:element name="TypeID" minOccurs="0" type="LogItemTypeID"/>
               <xsd:element name="CategoryCode" minOccurs="0" type="LogItemCategoryCode"/>
               <xsd:element name="SeverityCode" minOccurs="0" type="LogItemSeverityCode"/>
               <xsd:element name="ReferenceObjectNodeSenderTechnicalID" minOccurs="0" type="ObjectNodePartyTechnicalID"/>
               <xsd:element name="ReferenceMessageElementName" minOccurs="0" type="LANGUAGEINDEPENDENT_Name"/>
               <xsd:element name="Note" type="LogItemNote"/>
               <xsd:element name="NoteTemplateText" minOccurs="0" type="LogItemNoteTemplateText"/>
               <xsd:element name="LogItemNotePlaceholderSubstitutionList" minOccurs="0" type="LogItemNotePlaceholderSubstitutionList"/>
               <xsd:element name="WebURI" minOccurs="0" type="WebURI"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="LogItemCategoryCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="LogItemCategoryCode.Content">
                  <xsd:attribute name="listID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listVersionID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="15"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listAgencySchemeID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="listAgencySchemeAgencyID" type="AgencyIdentificationCode"/>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="LogItemCategoryCode.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="15"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="LogItemNote">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Note</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="200"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="LogItemNotePlaceholderSubstitutionList">
            <xsd:sequence>
               <xsd:element name="FirstPlaceholderID" type="LogItemTemplatePlaceholderID"/>
               <xsd:element name="SecondPlaceholderID" minOccurs="0" type="LogItemTemplatePlaceholderID"/>
               <xsd:element name="ThirdPlaceholderID" minOccurs="0" type="LogItemTemplatePlaceholderID"/>
               <xsd:element name="FourthPlaceholderID" minOccurs="0" type="LogItemTemplatePlaceholderID"/>
               <xsd:element name="FirstPlaceholderSubstitutionText" type="LogItemPlaceholderSubstitutionText"/>
               <xsd:element name="SecondPlaceholderSubstitutionText" minOccurs="0" type="LogItemPlaceholderSubstitutionText"/>
               <xsd:element name="ThirdPlaceholderSubstitutionText" minOccurs="0" type="LogItemPlaceholderSubstitutionText"/>
               <xsd:element name="FourthPlaceholderSubstitutionText" minOccurs="0" type="LogItemPlaceholderSubstitutionText"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:simpleType name="LogItemNoteTemplateText">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="73"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="LogItemPlaceholderSubstitutionText">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="50"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="LogItemSeverityCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:length value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="LogItemTemplatePlaceholderID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:length value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="LogItemTypeID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="40"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="MEDIUM_Name">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="MEDIUM_Name.Content">
                  <xsd:attribute name="languageCode" type="LanguageCode"/>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="MEDIUM_Name.Content">
            <xsd:restriction base="xsd:string">
               <xsd:maxLength value="40"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="ObjectNodePartyTechnicalID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="70"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="PartyInternalID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="PartyInternalID.Content">
                  <xsd:attribute name="schemeID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="schemeAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="PartyInternalID.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="32"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="PartyStandardID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="PartyStandardID.Content">
                  <xsd:attribute name="schemeAgencyID" use="required">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="3"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="PartyStandardID.Content">
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="13"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="PhoneNumber">
            <xsd:sequence>
               <xsd:element name="AreaID" minOccurs="0" type="PhoneNumberAreaID"/>
               <xsd:element name="SubscriberID" minOccurs="0" type="PhoneNumberSubscriberID"/>
               <xsd:element name="ExtensionID" minOccurs="0" type="PhoneNumberExtensionID"/>
               <xsd:element name="CountryCode" minOccurs="0" type="CountryCode"/>
               <xsd:element name="CountryDiallingCode" minOccurs="0" type="CountryDiallingCode"/>
               <xsd:element name="CountryName" minOccurs="0" type="MEDIUM_Name"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:simpleType name="PhoneNumberAreaID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="10"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="PhoneNumberExtensionID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="10"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="PhoneNumberSubscriberID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="30"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="ProcessingResultCode">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="2"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="UUID">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:simpleContent>
               <xsd:extension base="UUID.Content">
                  <xsd:attribute name="schemeID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
                  <xsd:attribute name="schemeAgencyID">
                     <xsd:simpleType>
                        <xsd:restriction base="xsd:token">
                           <xsd:maxLength value="60"/>
                           <xsd:minLength value="1"/>
                        </xsd:restriction>
                     </xsd:simpleType>
                  </xsd:attribute>
               </xsd:extension>
            </xsd:simpleContent>
         </xsd:complexType>
         <xsd:simpleType name="UUID.Content">
            <xsd:restriction base="xsd:token">
               <xsd:length value="36"/>
               <xsd:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:simpleType name="WebURI">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>URI</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:anyURI"/>
         </xsd:simpleType>
      </xsd:schema>
      <xsd:schema targetNamespace="http://sap.com/xi/SAPGlobal20/Global"
         xmlns="http://sap.com/xi/SAPGlobal20/Global"
         xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
         xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global"
         xmlns:xi1="http://sap.com/xi/FI-CAC/Global2">
         <xsd:import namespace="http://sap.com/xi/FI-CA-INV"/>
         <xsd:element name="BillableItemsCreateConfirmation" type="tns:BillableItemsCreateConfirmationMessage"/>
      </xsd:schema>
      <xsd:schema targetNamespace="http://sap.com/xi/FI-CAC/Global2"
         xmlns="http://sap.com/xi/FI-CAC/Global2"
         xmlns:ccts="urn:un:unece:uncefact:documentation:standard:CoreComponentsTechnicalSpecification:3.0"
         xmlns:xi0="http://sap.com/xi/SAPGlobal20/Global"
         xmlns:xi1="http://sap.com/xi/FI-CAC/Global2">
         <xsd:simpleType name="ContractAccountExtReference_GFN">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="20"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
         <xsd:complexType name="ContractAccountIdentification">
            <xsd:sequence>
               <xsd:element name="InternalID" minOccurs="0" type="ContractAccount_GFN"/>
               <xsd:element name="LegacyContractAccountID" minOccurs="0" type="ContractAccountExtReference_GFN"/>
            </xsd:sequence>
         </xsd:complexType>
         <xsd:simpleType name="ContractAccount_GFN">
            <xsd:annotation>
               <xsd:documentation xml:lang="EN">
                  <ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
               </xsd:documentation>
            </xsd:annotation>
            <xsd:restriction base="xsd:token">
               <xsd:maxLength value="12"/>
               <xsd:minLength value="1"/>
            </xsd:restriction>
         </xsd:simpleType>
      </xsd:schema>
   </types>
   <binding name = "BillableItemsCreateConfirmation_Out_Binding" type = "tns:BillableItemsCreateConfirmation_OutPort">
      <soap:binding style = "document"
         transport = "http://schemas.xmlsoap.org/soap/http"/>
      <operation name = "BillableItemsCreateConfirmation_Out">
         <soap:operation soapAction = "BillableItemsCreateConfirmation_Out"/>
         <input>
            <soap:body use="literal" />
         </input>
         <output>
            <soap:body use="literal" />
         </output>
      </operation>
   </binding>

   <service name = "BitsCreateConfService">
      <documentation>WSDL File for BitsCreateConfService</documentation>
      <port binding = "tns:BillableItemsCreateConfirmation_Out_Binding" name = "BillableItemsCreateConfirmation_OutPort">
         <soap:address
            location = "http://localhost:4004/BillableItems/confirm" />
      </port>
   </service>

</definitions>